<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../css/admin_dashboard.css">
    <script src="../js/admin_dashboard.js" defer></script>
    <script src="../js/config.js"></script>
</head>
<body>
    <h2>Admin Dashboard</h2>
    <nav>
        <a href="add_product.html">Add Product</a>
        <a href="login.html" onclick="logout()" id="logout-link">Logout</a>
    </nav>
    <div id="product-list"></div>
</body>
</html>
