<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
  <link rel="stylesheet" href="../css/products.css">
  <script src="../js/config.js"></script>
  <script src="../js/products.js" defer></script>
  
</head>
<body>
  <h1>Available Products</h1>
  <nav>
      <a href="cart.html">View My Cart</a>
      <a href="login.html" id="auth-link">Login</a>
  </nav>
  <input type="text" id="searchInput" placeholder="Search products...">
  <div id="loading-message">Loading products...</div>
  <div id="product-list"></div>
</body>
</html>
